absl-py==2.1.0
appdirs==1.4.4
asn1crypto==1.5.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
fqdn==1.5.1
gast==0.5.4
inflection==0.5.1
isoduration==20.11.0
jsonpointer==2.1
keras==3.3.3
libclang==18.1.1
Flask==3.0.3
gunicorn==23.0.0
pandas==2.2.2
numpy==2.0.1
scikit-learn==1.5.1
joblib==1.4.2
scipy==1.13.1
