absl-py==2.1.0
appdirs==1.4.4
asn1crypto==1.5.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
fqdn==1.5.1
gast==0.5.4
inflection==0.5.1
isoduration==20.11.0
jsonpointer==2.1
keras==3.3.3
libclang==18.1.1
mkl-service==2.4.0
ml-dtypes==0.3.2
mpcurses==0.4.3
mpmq==0.3.2
munkres==1.1.4
namex==0.0.8
opencv-python==4.10.0.82
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
pg8000==1.31.2
ply==3.11
proto-plus==1.23.0
protobuf==3.20.3
psycopg2-binary==2.9.10
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyfiglet==0.8.post1
pyls-spyder==0.4.0
python-lsp-jsonrpc==1.0.0
python-resize-image==1.1.20
rsa==4.9
scramp==1.4.5
sympy==1.14.0
zstandard==0.19.0
